body, html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("images/poke-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  grid-template-rows: repeat(10, 100px);
  grid-template-areas: "head head head head"
                       "head head head head"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "foot foot foot foot"
                       "foot foot foot foot"
                       "foot foot foot foot"
}

#pokedex{
  grid-area: pokedex;
  grid-gap: 3px;
  background: linear-gradient(
    to right, 
    black,
    red 1%,
    red 99%,
    black
  );
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  border: 3px solid grey;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr .1fr .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: repeat(10, 52.3px);
  grid-template-areas: "left topL topL topL midR spine midL topR topR topR right"
                       "left btn1 btn2 btn3 midR spine midL view view view right"
                       "left img img img midR spine midL view view view right"
                       "left img img img midR spine midL view view view right"
                       "left img img img midR spine midL ran1 ran1 ran1 right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1  right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1  right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1  right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1  right"
}

#btn1{
  grid-area: btn1;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%);
  border-radius: 50%;
  border: 2px solid black;
  width: 60px;
  justify-self: center;
}

#btn2{
  grid-area: btn2;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%);
  border-radius: 50%;
  border: 2px solid black;
  width: 60px;
  justify-self: center;
}

#btn3{
  grid-area: btn3;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%); 
  border-radius: 50%;
  border: 2px solid black;
  width: 60px;
  justify-self: center;
}

#image{
  grid-area: img;
  background-color: black;
  border-radius: 25px;
}

#spine{
  grid-area: spine;
    background: linear-gradient(
    to right, 
    black,
    red,
    black
    )
}

#view{
  grid-area: view;
  background-color: grey;
  border-radius: 25px;
}