@font-face{ 
  font-family: PokeFont; 
  src: url('fonts/Pokemon\ Solid.ttf'); 
} 

body, html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("images/poke-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  grid-template-rows: repeat(10, 100px);
  grid-template-areas: "head head head head"
                       "head head head head"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "left pokedex pokedex right"
                       "foot foot foot foot"
                       "foot foot foot foot"
                       "foot foot foot foot"
}

.pokedex{
  grid-area: pokedex;
  grid-gap: 3px;
  background: linear-gradient(
    to right, 
    black,
    #aa0505 1%,
    #aa0505 99%,
    black
  );
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  border: 3px solid grey;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr .1fr .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: repeat(10, 52.3px);
  grid-template-areas: "hdrL hdrL hdrL hdrL hdrL spine hdrR hdrR hdrR hdrR hdrR"
                       "left btn1 btn2 btn3 midR spine midL view view view right"
                       "left img img img midR spine midL view view view right"
                       "left img img img midR spine midL view view view right"
                       "left img img img midR spine midL type1 type2 type3 right"
                       "left img img img midR spine midL ran1 ran1 ran1 right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1 right"
                       "left ran ran ran midR spine midL ran1 ran1 ran1 right"
                       "ftrL ftrL ftrL ftrL ftrL spine ftrR ftrR ftrR ftrR ftrR"
}

.headerLeft{
  grid-area: hdrL;
  margin-left: 2%;
  border-radius: 15px 0px 0px 0px;
  background: linear-gradient(grey -220%, #aa0505);
}

.headerLeft p{
  font-family: PokeFont;
  grid-area: hdrL;
  text-align: center;
  color: grey;
}

.headerRight{
  grid-area: hdrR;
  margin-right: 2%;
  border-radius: 0px 15px 0px 0px;
  background: linear-gradient(grey -220%, #aa0505)

}

#btn1{
  grid-area: btn1;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%);
  border-radius: 50%;
  border: 2px solid silver;
  width: 60px;
  justify-self: center;
}

#btn2{
  grid-area: btn2;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%);
  border-radius: 50%;
  border: 2px solid silver;
  width: 60px;
  justify-self: center;
}

#btn3{
  grid-area: btn3;
  background-color: aqua;
  background: radial-gradient(aqua, black 220%); 
  border-radius: 50%;
  border: 2px solid silver;
  width: 60px;
  justify-self: center;
}

.image{
  grid-area: img;
  background: radial-gradient(lightgrey 88%, black);
  border: 2px solid black;
  border-radius: 25px;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: .2fr 1fr .2fr;
  grid-template-areas: ". name ."
                       "image image image"
                       ". . ."
}

#pokeImage{
  grid-area: image;
  width: 12rem;
  justify-self: center;
}

.input{
  grid-area: ran;
  display: grid;
  grid-template-columns: repeat(10, .5fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: ". . . . . . . . . ."
                       ". pad pad pad pad . . . btnT ."
                       ". pad pad pad pad . . btnL btnM btnR"
                       ". pad pad pad pad . . . btnB ."
                       ". . . . . . . . . ."
}

#btnT{
  grid-area: btnT;
  background-color: black;
  border-bottom: none;
}

#btnM{
  grid-area: btnM;
  background-color: black;
  border: none;
}

#btnR{
  grid-area: btnR;
  background-color: black;
  border-left: none;
}

#btnL{
  grid-area: btnL;
  background-color: black;
  border-right: none;
}

#btnB{
  grid-area: btnB;
  background-color: black;
  border-top: none;
}

#pad{
  grid-area: pad;
  background: radial-gradient(black 46%, grey);
  border: 2px solid grey;
  border-radius: 50%;
  width: 75px;
}

.spine{
  grid-area: spine;
    background: linear-gradient(
    to right, 
    black,
    #aa0505 35%,
    black
    )
}

.view{
  grid-area: view;
  background: radial-gradient(#08e208 88%, black);
  border: 2px solid black;
  min-height: 100%;
  min-width: 100%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5,auto);
  grid-template-areas: ". ability ability ability ." 
                       "ability1 ability1 . ability2 ability2" 
                       ". . . . ." 
                       ". hp atk def ." 
                       ". hpresult atkresult defresult .";
}

#abilities{
  grid-area: ability;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  justify-self: center;
  height: 0;
}

#ability1{
grid-area: ability1;
font-family: 'Press Start 2P', cursive;
margin: 0 0 0 5%;
font-size: 12px;
/* overflow: visible; */
max-width: 40px;
height: 0;
}

#ability2{
  grid-area: ability2;
  font-family: 'Press Start 2P', cursive;
  justify-self: start;
  margin: 0;
  font-size: 12px;
  overflow: visible;
  max-width: 40px;
  height: 0;
  }

#hp{
  grid-area: hp;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .8rem;
}

#atk{
  grid-area: atk;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .8rem;
  height: 0;
}

#def{
  grid-area: def;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .8rem;
  height: 0;
}

#hpResult{
  grid-area: hpresult;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .7rem;
  height: 0;
}

#atkResult{
  grid-area: atkresult;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .7rem;
}

#defResult{
  grid-area: defresult;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  justify-self: center;
  font-size: .7rem;
}

#type1{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  grid-area: type1;
  background-color: silver;
  border-radius: 75px;
  border: 2px solid black;
  height: 35px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#type2{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  grid-area: type3;
  background-color: silver;
  border-radius: 75px;
  border: 2px solid black;
  height: 35px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ran1{
  grid-area: ran1;
  /* background-color: black; */
  /* opacity: 0.5; */
  display: grid;
  grid-row-gap: 3%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "input input input"
                       "submit btn7 submit2"
                       "btn1 btn2 btn3"
                       "btn4 btn5 btn6"
}

#text{
  font-family: 'Press Start 2P', cursive;
  grid-area: input;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
}

#submit{
  font-family: 'Press Start 2P', cursive;
  grid-area: submit;
  border-radius: 25px;
  width: 75px;
  justify-self: center;
  font-size: .7rem;
  background-color: #fafa30;
}

#submit2{
  font-family: 'Press Start 2P', cursive;
  grid-area: submit2;
  border-radius: 25px;
  width: 75px;
  justify-self: center;
  font-size: .7rem;
  padding: 1%;
  background-color: #fafa30;
}

.dummybtns{
  grid-area: btn7;
  display: grid;
  padding: 2% 0 2% 0;

}

#orangebtn{
  background-color: orange;
  border-radius: 25px;
  align-self: end;
  height: .8rem;
}

#greenbtn{
  background-color: green;
  border-radius: 25px;
  align-self: start;
  height: .8rem;
}

#bluebtnL{
  grid-area: btn1;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;

}

#bluebtnM{
  grid-area: btn2;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;
}

#bluebtnR{
  grid-area: btn3;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;
}

#bluebtnBR{
  grid-area: btn4;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;
}

#bluebtnBM{
  grid-area: btn5;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;
}

#bluebtnBL{
  grid-area: btn6;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid black;
}

#logo{
  grid-area: hdrL;
  font-family: PokeFont;
  margin: 3%;
  justify-self: center;
  color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
}